body{
    background-color: #e2e2e2;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    }

h1 {
    color:rgb(151, 53, 53);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:50px;
    }

form {
    color:rgb(66, 2, 2); 
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 15px 8px rgba(155, 50, 50, 0.30);
    }

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 15px;
    }

button{
    color:white; 
    background-color: brown;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    }
        
button:hover {
    background-color: #cc6d6d;
    }

table{
    background-color:rgb(255, 255, 255);
    font-size: 25px;
    border-radius: 10px;
    width: 50%;
    }

th {
    background-color: #6d2f2f;
    color: white;
    padding: 12px;
    }

footer {
    margin-top: auto;
    width: 100%;
    background-color: #4b0a0a;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer a {
    color: #f8a1a1;
    font-weight: bold;
}
